---
import Player from "../components/Player.jsx";
import "../assets/styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ricalgen FM Player</title>
  </head>
  <body>
    <Player />
  </body>
</html>
