---
import Player from "../components/Player.jsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Ricalgen FM</title>
    
  </head>
  <body>
    <!-- Mount the React player -->
    <Player client:load />
    <!-- 
      client:load → loads the component only on the client after page load
      You can also use:
      client:idle → load when browser is idle
      client:visible → load when component is visible
    -->
  </body>
</html>
